html, body {
  height: 100%;
  letter-spacing: 3px;
  font-size: 14px;
  margin: 0;
}
.wrapper {
  height: 100%;
  background-image: url('../images/bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}
.header {
  padding: 85px 0 0 0;
}
.content-wrapper {
  margin: 20px 35px;
  height: 220px;
  overflow-y: hidden;
}
.content {
  height: 220px;
  overflow-y: scroll;
  margin-right: -8px;
}
p {
  margin: 6px 0 ;
}
.footer {
  margin: 30px 35px 0 35px;
}
.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-div {
  display: flex;
}
.pre {
  background: url('../images/before.png') no-repeat center center;
}
.next {
  background: url('../images/next.png') no-repeat center center;
}
.controls-icon {
  width: 18px;
  height: 18px;
  background-size: 100% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin: auto 0;
}
.play {
  width: 24px;
  height: 24px;
  background: url('../images/play.png') no-repeat center center;
  background-size: 100% auto;
  margin: 0 25%;
}
.pause {
  background: url('../images/pause.png') no-repeat center center;
}
.time-controls {
  display: flex;
  letter-spacing: 0;
  color: #fff;
  margin: 10px;
}
.timeline {
  background-color: #000;
  height: 1.5px;
  width: 100%;
  margin: 7px 14px;
}
.timeline__active {
  background-color: #fff;
  height: 1.5px;
  width: 0%;
  position: relative;
}
.timeline__active__ball {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.time {
  font-size: 11px;
  letter-spacing: 0px;
  color: #fff;
}